<div class="jumbotron">
<h1>About Necole</h1>

<p>Let's see. To start, she is the best. If the sun ever goes out we need to send her to space to replace it. 
That's how much of an inspiration she is.<br>What else? Oh yeah, she thinks she has the biggest head in the planet 
so there's another reason she resembles the sun. Just kidding! Don't kill me!</p>
<P> Thank you Jesus for your help meon my coding adventure</P>
</div>
