<div class="jumbotron center">
<h1>Hi Necole</h1>

<p>I want to say sorry again. I inconvenienced you a lot by ruining your little kingdom of Nohr.
<br> I promise to make this as funcional so you can get back to reigning. :)</p>
</div>